body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.TopBar{
    background-color: #333;
    height: 50px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-bottom: aqua solid 7px ;

}
#Titulo{
    display: inline;
    color:aqua;
}
.Contaner{
    max-width: 888px;
    margin:auto;
    padding: 25px;
    color:rgb(97, 96, 96);

}
.Contanerimg{
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    flex-direction: column;
    align-items: center;

}
.apresenta{
    font-size: 20px;
    color:rgb(138, 138, 138)
}
.paginas{
    color:rgb(138, 138, 138);
    text-decoration: none;
    line-height: 25px;
}
.title{
    color:rgb(97, 96, 96);
    text-transform: uppercase;
}
.footer{
    background-color: #333;
    height: 85px;
    width: 100%;
    border-top: 5px solid aqua;
}
.criador{
    display: block;
    color:white;
    max-width: 888px;
    margin: auto;
    text-align: right;
    text-decoration: none;
}
.ImgHo{
    margin-left: 12%;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    width: 80%;
    height: 80%;
    overflow: auto;
    background-color: rgb(0, 0, 0.4);
}
.modal .contmodal{
    background-color: #d3d3d3;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
